.beerclass {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  width: 100% !important;
  padding: 40px !important;
  margin-top: 20px !important;
}

.maincard {
  margin-bottom: 25px !important;
  box-shadow: 1px 1px 5px grey;
  border-radius: 10px;
  display: flex;
  margin-bottom: 25px;
  width: 48% !important;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
  margin-top: 20px;
}
.card-title {
  cursor: pointer;
  /* text-decoration: underline; */
}
.details {
  cursor: pointer;
  text-decoration: underline;
}
.bodycard {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.details-div {
  justify-content: center !important;
}
.card-child-details {
  max-width: 50vw;
  border: none;
  margin: auto;
  margin-top: 20px;
}
.card-child-body-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  text-decoration: underline;
}
