/* .brand {
  margin-right: 40rem;
} */

.imgg {
  height: 35px;
}
.wraping {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  align-items: center;
}
.brand {
  text-decoration: underline;
}
.fav {
  text-decoration: underline;
  color: black !important;
}
.searchcard {
  display: flex;
}

.form-control {
  width: 400px !important;
}
